.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Item {
    padding-left: 3%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Settings {
   margin-left: auto;
}